@model IEnumerable<VetReserve.Models.VetModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VetSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOpen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VetSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Office)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOpen)
                </td>
                <td>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
