@model VetReserve.Models.PatientCardModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PatientCardModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsIll)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsIll)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicines)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dose)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
